<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jeux rétrocompatibles XBOX ONE{% endblock %}</title>
        {% block stylesheets %}
        <!--'css/bootstrap.css'-->
        {% stylesheets filter='cssrewrite'
          'bundles/app/css/styleSandstone.css'
          'bundles/app/css/stylePerso.css'
          'css/font-awesome.css' %}
          <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />  
    </head>
    <body>
      <div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Jeux rétrocompatibles XBOX ONE</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <li><a href="#">Categories</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    Dropdown <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <input class="form-control" placeholder="Recherche" type="text">
                </div>
                <button type="submit" class="btn btn-default">OK</button>
              </form>
              <!--
              <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a></li>
              </ul>
              -->
            </div>
          </div>
        </nav>   

        <div class="bs-docs-section">

          <div class="row">
            <div class="col-lg-12">
              <div class="bs-component">
                <div class="jumbotron">
                  <h1>Rétrocompatibilité XBOX ONE</h1>
                  <p>La rétrocompatibilité XBOX ONE permet de jouer à des jeux XBOX 360 sur une console XBOX ONE.</p>
                  <p>Ce site répertorie tous les jeux bénéficiant de cette fonctionnalité.</p>
                  <p><a class="btn btn-primary btn-lg">En apprendre plus</a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>  

      {% block body %}{% endblock %}  
        
      {% block javascripts %}
      <!--  '@AppBundle/Resources/public/js/script.js' -->      
      {% javascripts
        'js/jquery.min.js'
        'js/jquery-ui.min.js'
        'js/bootstrap.js'
      %}
        <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}
    </body>
</html>
